{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-8  col-md-offset-2">
	<h1>Access denied!</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                <h4>FORBIDDEN - YOU DO NOT HAVE THE PERMISSION</h4>
            </div>
            <div style="margin:auto; ">
                <img  src="https://qph.ec.quoracdn.net/main-qimg-acb9ab22996fc09b958537aa9d4cb167-c?convert_to_webp=true">
            </div>
            <p><a href="{{base}}/">Return to home page</a></p>
	</div>
    </section>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
